.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #73bc89;
  }
  
  .login-form {
    width: 400px;
    padding: 20px;
    background-color: rgb(146, 172, 176);
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  